/*------------------------------------------------------------
Animation View
------------------------------------------------------------*/
.page-animation-view {
	.c-gl-box {
		width: 100%;
	}
}

/* c-animation-view1
------------------------------------------------------------*/
.c-animation-view1 {
	$root: &;
	position: relative;
	width: 100%;
	height: 480px;
	background: url("/assets/img/common/view1.jpg") no-repeat center right #dae5ea;
	margin-bottom: 40px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transform: scale(1, 1);
		transform-origin: right top;
	}

	&:before {
		transition-delay: .5s;
		background: #ccc;
		z-index: 1;
	}

	&:after {
		transition-delay: .3s;
		background: white;
		z-index: 2;
	}

	&.is-scroll {

		&:before,
		&:after {
			transform: scale(0, 1);
		}
	}

	&__link {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.c-animation-view2 {
		position: absolute;
		top: -35px;
		left: 100px;
		width: 640px;
		box-sizing: border-box;
		padding: 12%;
		background: rgba(0, 73, 134, 0.9);
		color: #fff;
		transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s, box-shadow 0.5s ease-out 1.8s;
		box-shadow: 40px 40px 80px transparent;
		transform: scale(0, 1);
		transform-origin: left top;
	}
}

/* c-animation-view2
------------------------------------------------------------*/
.c-animation-view2 {
	width: 640px;
	box-sizing: border-box;
	padding: 12%;
	background: rgba(0, 73, 134, 0.9);
	color: #fff;
	transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s, box-shadow 0.5s ease-out 1.8s;
	box-shadow: 40px 40px 80px transparent;
	transform: scale(0, 1);
	transform-origin: left top;

	&.is-scroll {
		box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.1);
		transform: scale(1, 1);
	}
}

/* c-animation-view3
------------------------------------------------------------*/

.c-animation-view3 {
	width: 400px;
	height: 300px;
	position: relative;
	background: #fff;
	box-shadow: 0 7px 15px rgba(0, 0, 0, .2);

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 100%;
		bottom: 0;
		background: #000;
		z-index: 1;
		transition: left 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.4s, right 0.7s 0.2s;
	}

	&.is-active {
		&:before {
			left: 100%;
			right: 0%;
		}
	}
}
