/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumbs1{
	display: inline-flex;
	&__list{
		line-height: 1;
		font-size: 1.2rem;
		display: inline-flex;
        align-items: center;
		&:after{
			content:">";
			display: inline-block;
			vertical-align: middle;
			margin: 0 7px;
	        transform: translateY(-2px);
		}
		&:last-child{
			&:after{
				content:""
			}
		}
	}
}