/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-input1 {
	// setting
	//-------------------------------------------------------

	// box size
	$box-size: 14px;

	// box position
	$top: 4;

	// color
	$color-border: #bdc3c7;
	$color-check: #428bca;
	$color-checked-border: #428bca;

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		box-sizing: border-box;

		&:checked ~ label {
			&:after {
				background-color: $color-check;
			}
			&:before {
				border-color: $color-checked-border;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
			box-sizing: border-box;
		}
		&:after {
			transform: scale(0.6);
		}
		&:before {
			border-color: $color-border;
		}
	}

	// size
	//-------------------------------------------------------
	&--fill {
		label:after {
			transform: scale(1);
		}
	}

	&--thick {
		label:after {
			transform: scale(0.4);
		}
	}
}

/*
------------------------------------------------------------*/
.c-input2 {
	// setting
	//-------------------------------------------------------

	// box size
	$box-size: 14px;

	// box position
	$top: 4;

	// color
	$color-border: #bdc3c7;
	$color-check: #428bca;
	$color-checked-border: #428bca;

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		box-sizing: border-box;

		&:checked ~ label {
			&:after {
				background-color: $color-check;
			}
			&:before {
				border-color: $color-checked-border;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
			box-sizing: border-box;
			border-radius: 100%;
		}
		&:after {
			transform: scale(0.6);
		}
		&:before {
			border-color: $color-border;
		}
	}

	// size
	//-------------------------------------------------------
	&--fill {
		label:after {
			transform: scale(1);
		}
	}

	&--thick {
		label:after {
			transform: scale(0.4);
		}
	}
}

/*
------------------------------------------------------------*/
.c-input3 {
	// setting
	//-------------------------------------------------------
	// box size
	$box-size: 14px;

	// box position
	$top: 0;

	// color
	$color-border: #bdc3c7;
	$color-check: #428bca;
	$color-checked-border: #428bca;

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.5rem;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		&:checked ~ {
			i {
				opacity: 1;
			}
			label:before {
				border-color: $color-checked-border;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
		}

		&:before {
			border-color: $color-border;
		}
	}

	//-------------------------------------------------------
	i {
		position: absolute;
		font-size: 1em;
		width: $box-size;
		height: $box-size;
		left: 1px;
		z-index: 1;
		text-align: center;
		line-height: normal;
		top: $top-offset;
		border: 1px solid transparent;
		opacity: 0;
		color: $color-check;

		&:before {
			margin: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
			line-height: 1;
		}
	}
}

/*
------------------------------------------------------------*/
.c-input4 {
	// setting
	//-------------------------------------------------------
	// box size
	$box-size: 14px;

	// box position
	$top: 0;

	// color
	$color-border: #bdc3c7;
	$color-check: #428bca;
	$color-checked-border: #428bca;

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.5rem;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		&:checked ~ {
			i {
				opacity: 1;
			}
			label:before {
				border-color: $color-checked-border;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
			border-radius: 100%;
		}

		&:before {
			border-color: $color-border;
		}
	}

	//-------------------------------------------------------
	i {
		position: absolute;
		font-size: 1em;
		width: $box-size;
		height: $box-size;
		left: 1px;
		z-index: 1;
		text-align: center;
		line-height: normal;
		top: $top-offset;
		border: 1px solid transparent;
		opacity: 0;
		color: $color-check;

		&:before {
			margin: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
			line-height: 1;
		}
	}
}

/*
------------------------------------------------------------*/
.c-input5 {
	// setting
	//-------------------------------------------------------
	// box size
	$box-size: 14px;

	// box position
	$top: 0;

	// color
	$color-border: #bdc3c7;
	$color-check: #428bca;
	$color-checked-border: #428bca;

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.5rem;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		&:checked ~ {
			svg {
				opacity: 1;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
		}

		&:before {
			border-color: $color-border;
		}
	}

	//-------------------------------------------------------
	svg {
		position: absolute;
		font-size: 1em;
		width: calc(#{$box-size} + 4px);
		height: calc(#{$box-size} + 4px);
		left: -1px;
		z-index: 1;
		text-align: center;
		line-height: normal;
		top: calc(#{$top-offset} - 2px);
		border: 1px solid transparent;
		opacity: 0;
		path {
			stroke: $color-check;
			fill: $color-check;
		}
	}
}

/*
------------------------------------------------------------*/
.c-input6 {
	// setting
	//-------------------------------------------------------
	// box size
	$box-size: 14px;

	// box position
	$top: 0;

	// color
	$color-border: #bdc3c7;
	$color-check: #428bca;
	$color-checked-border: #428bca;

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.5rem;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		&:checked ~ {
			svg {
				opacity: 1;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
			border-radius: 100%;
		}

		&:before {
			border-color: $color-border;
		}
	}

	//-------------------------------------------------------
	svg {
		position: absolute;
		font-size: 1em;
		width: calc(#{$box-size} + 4px);
		height: calc(#{$box-size} + 4px);
		left: -1px;
		z-index: 1;
		text-align: center;
		line-height: normal;
		top: calc(#{$top-offset} - 2px);
		border: 1px solid transparent;
		opacity: 0;
		path {
			stroke: $color-check;
			fill: $color-check;
		}
	}
}

/*
------------------------------------------------------------*/
.c-input7 {
	// setting
	//-------------------------------------------------------
	// box size
	$box-size: 14px;

	// box position
	$top: 0;

	// color
	$color-border: #bdc3c7;

	// icon size
	$icon-size: scale(1.3);

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.5rem;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		&:checked ~ {
			label:before {
				content: none;
			}
			img {
				opacity: 1;
				transform: $icon-size;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
		}

		&:before {
			border-color: $color-border;
		}
	}

	//-------------------------------------------------------
	img {
		position: absolute;
		font-size: 1em;
		left: 0;
		z-index: 1;
		line-height: normal;
		top: calc(#{$top-offset} - 0px);
		border: 1px solid transparent;
		opacity: 0;
		margin: 0;
		width: auto;
		height: 100%;
		text-align: center;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		line-height: 1;
	}
}

/*
------------------------------------------------------------*/
.c-input8 {
	// setting
	//-------------------------------------------------------
	// box size
	$box-size: 14px;

	// box position
	$top: 0;

	// color
	$color-border: #bdc3c7;

	// icon size
	$icon-size: scale(1.3);

	// label font size & position
	$label-font-size: 1.4rem;
	$label-text-offset: 2.1rem;

	//-------------------------------------------------------

	// calc
	$box-size-real: calc(#{$box-size} + 2px);
	$top-offset: calc((0% - (100% - 1em)) - #{$top * 1%});

	//-------------------------------------------------------

	position: relative;
	display: inline-block;
	margin-right: 1em;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.5rem;

	//-------------------------------------------------------
	input {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-color: $color-border;
		&:checked ~ {
			label:before {
				content: none;
			}
			img {
				opacity: 1;
				transform: $icon-size;
			}
		}
	}

	//-------------------------------------------------------
	label {
		position: initial;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		text-indent: $label-text-offset;
		min-width: $box-size-real;
		font-size: $label-font-size;

		&:before,
		&:after {
			content: "";
			width: $box-size-real;
			height: $box-size-real;
			display: block;
			box-sizing: border-box;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 0;
			position: absolute;
			left: 0;
			top: $top-offset;
			background-color: transparent;
			border-radius: 100%;
		}

		&:before {
			border-color: $color-border;
		}
	}

	//-------------------------------------------------------
	img {
		position: absolute;
		font-size: 1em;
		left: 0;
		z-index: 1;
		line-height: normal;
		top: calc(#{$top-offset} - 0px);
		border: 1px solid transparent;
		opacity: 0;
		margin: 0;
		width: auto;
		height: 100%;
		text-align: center;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		line-height: 1;
	}
}

/*
------------------------------------------------------------*/
.c-select1 {
	select {
		cursor: pointer;
		width: 200px;
		height: 32px;
		box-sizing: border-box;
		font-size: 1.4rem;
		appearance: none;
		padding: 0 10px;
		background: url("/form/image/003.png") no-repeat right;
		background-size: 15px;
		background-position-x: 95%;
		&::-ms-expand {
			display: none;
		}
	}

	//-------------------------------------------------------
	&--color1 {
		select {
			background: url("/form/image/003.png") no-repeat right #428bca;
			background-size: 15px;
			background-position-x: 95%;
			color: #fff;
		}
		option {
			background: #fff;
			color: #666;
		}
	}
}

/*
------------------------------------------------------------*/
.c-select2 {
	overflow: hidden;
	width: 200px;
	position: relative;
	border: 1px solid #bbb;

	&:before {
		position: absolute;
		top: 50%;
		right: 9px;
		width: 10px;
		height: 10px;
		content: "";
		border-top: 2px solid #666;
		border-right: 2px solid #666;
		pointer-events: none;
		transform: translateY(-7px) rotate(135deg);
	}

	&:after {
		position: absolute;
		top: 0;
		right: 30px;
		bottom: 0;
		width: 1px;
		content: "";
		border-left: 1px solid #bbbbbb;
	}

	select {
		width: 100%;
		cursor: pointer;
		text-indent: 0.01px;
		text-overflow: ellipsis;
		border: none;
		outline: none;
		background: transparent;
		background-image: none;
		box-shadow: none;
		appearance: none;
		padding: 8px 38px 8px 8px;
		color: #666666;
		&::-ms-expand {
			display: none;
		}
	}

	//-------------------------------------------------------
	&--color1 {
		background: #428bca;
		border-color: #428bca;
		select {
			color: #fff;
		}
		option {
			color: #666;
		}
		&:before {
			border-top-color: #fff;
			border-right-color: #fff;
		}
		&:after {
			border-left-color: #fff;
		}
	}
}
