/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-icon1 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 20px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				transform: translateY(20px) rotate(-45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: translateY(-20px) rotate(45deg);
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon2 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 20px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		transform: rotate(360deg);
		#{$root}__line {
			&:nth-of-type(1) {
				transform: translateY(20px) rotate(-45deg);
			}
			&:nth-of-type(2) {
				transform: translateY(0) rotate(45deg);
			}
			&:nth-of-type(3) {
				opacity: 0;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon3 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 20px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				transform: translateY(20px) rotate(-45deg);
			}
			&:nth-of-type(2) {
				left: 50%;
				opacity: 0;
				animation: c-icon3-bar2 0.8s forwards;
			}
			&:nth-of-type(3) {
				transform: translateY(-20px) rotate(45deg);
			}
		}
	}

	// keyframes
	//--------------------------------------------------------
	@keyframes c-icon3-bar2 {
		100% {
			height: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon4 {
	$root: &;
	position: relative;
	width: 50px;
	height: 44px;
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	cursor: pointer;

	//--------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
			animation: c-icon4-bar1 0.75s forwards;
		}
		&:nth-of-type(2) {
			top: 20px;
			transition: all 0.25s 0.25s;
			opacity: 1;
		}
		&:nth-of-type(3) {
			bottom: 0;
			animation: c-icon4-bar3 0.75s forwards;
		}
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		#{$root}__line {
			&:nth-of-type(1) {
				animation: c-icon4-bar1-active 0.75s forwards;
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				animation: c-icon4-bar3-active 0.75s forwards;
			}
		}
	}

	// keyframes
	//--------------------------------------------------------
	@keyframes c-icon4-bar1 {
		0% {
			transform: translateY(20px) rotate(45deg);
		}
		50% {
			transform: translateY(20px) rotate(0);
		}
		100% {
			transform: translateY(0) rotate(0);
		}
	}
	@keyframes c-icon4-bar3 {
		0% {
			transform: translateY(-20px) rotate(-45deg);
		}
		50% {
			transform: translateY(-20px) rotate(0);
		}
		100% {
			transform: translateY(0) rotate(0);
		}
	}
	@keyframes c-icon4-bar1-active {
		0% {
			transform: translateY(0) rotate(0);
		}
		50% {
			transform: translateY(20px) rotate(0);
		}
		100% {
			transform: translateY(20px) rotate(45deg);
		}
	}
	@keyframes c-icon4-bar3-active {
		0% {
			transform: translateY(0) rotate(0);
		}
		50% {
			transform: translateY(-20px) rotate(0);
		}
		100% {
			transform: translateY(-20px) rotate(-45deg);
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon11 {
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;
	&:before,
	&:after {
		content: "";
		background: #000;
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		width: 100%;
		transition: all 0.5s;
	}
	&:after {
		transform: rotate(90deg);
		opacity: 1;
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		&:after {
			opacity: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon12 {
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;
	&:before,
	&:after {
		content: "";
		background: #000;
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		width: 100%;
		transition: all 0.5s;
	}
	&:after {
		transform-origin: center;
		transform: rotate(90deg);
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		&:after {
			transform: rotate(0deg);
			opacity: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-icon13 {
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;
	&:before,
	&:after {
		content: "";
		background: #000;
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		width: 100%;
		transition: all 0.5s;
	}
	&:after {
		transform: rotate(90deg);
	}

	// click
	//--------------------------------------------------------
	&.is-active {
		&:after {
			transform: rotate(0deg);
			opacity: 0;
			top: 0;
		}
	}
}

