/*------------------------------------------------------------
movie
------------------------------------------------------------*/
.page-movie001 {
	.c-gl-box {
		width: 100%;
		height: auto;
	}

	@include sp {
		.l-gl-side {
			display: none;
		}
	}

	.c-movie2 {
		p {
			color: #fff;
		}
	}

	p {
		position: relative;
		z-index: 1;
	}
}

/*  page-movie002
------------------------------------------------------------*/
.page-movie002 {
	.background-movie {
		position: relative;
		width: 100%;
		left: 0;
		top: 0;
		height: calc(100vh - 100px);

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom, transparent 50%, #000 50%),
				linear-gradient(to right, transparent 50%, #000 50%);
			background-size: 3px 3px, 3px 3px;
			z-index: 4;
		}

		&__header {
			position: fixed;
			top: 92px;
			left: 260px;
			z-index: 10;

			a {
				display: block;
				color: #ffff;
				font-size: 3rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

/*  page-movie003
------------------------------------------------------------*/
.page-movie003 {
	.c-gl-box {
		width: 100%;
		height: 100vh;
	}

	.header__movie4 {
		position: fixed;
		top: 167px;
		left: 332px;
		z-index: 10;

		a {
			display: block;
			color: #ffff;
			font-size: 3rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

/*  c-movie1
------------------------------------------------------------*/
.c-movie1 {
	iframe {
		width: 100%;
	}
}

/*  c-movie2
------------------------------------------------------------*/
.c-movie2 {
	position: relative;
	width: 100%;
	padding-top: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

/*  c-movie3
------------------------------------------------------------*/
.c-movie3 {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background-position: center;

	&__container {
		bottom: 0;
		height: 100%;
		left: 0;
		min-width: 100%;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;

		iframe {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__ttl {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 4;

		a {
			display: block;
			color: #fff;
			font-size: 4rem;
			font-weight: bold;
			text-align: center;
		}
	}
}

/*  c-movie4
------------------------------------------------------------*/
.c-movie4 {
	width: 100%;
    height: calc(100vh - 100px);
	position: relative;
	// overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		top: 1px;
		left: 1px;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0, .2);
	}

	&__txt {
		p {
			text-align: center;
			font-size: 3rem;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}

	video {
		min-width: 100%;
		min-height: 100%;
	}
}
