/*------------------------------------------------------------
pagetop
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.c-pagetop1{
	position:fixed;
	right:30px;
	bottom:30px;
	display:none;
	cursor: pointer;
	text-align: center;
	background: #1565c0;
	line-height: 1.5;
	padding: 10px 30px;
	color: #FFF;
}