/*------------------------------------------------------------
scroll
------------------------------------------------------------*/


/* .c-scroll1
------------------------------------------------------------*/
.c-scroll1 {
	width: 120px;
	height: 300px;
	position: relative;
	overflow: hidden;

	&__txt {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.6rem;
		writing-mode: vertical-lr;
		text-transform: uppercase;
		color: #134699;
		font-weight: bold;
		margin-left: 5px;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
	}

	&:after {
		background: #ccc;
		height: 100%;
		opacity: .5;
	}

	&:before {
		height: 35%;
		background: #134699;
		visibility: hidden;
		animation: scrollDown 2s infinite linear;
		z-index: 1;
	}

	@keyframes scrollDown {
		0% {
			visibility: visible;
			transform: translateY(-100%)
		}

		100% {
			visibility: visible;
			transform: translateY(300%)
		}
	}
}

/* .c-scroll2
------------------------------------------------------------*/
.c-scroll2 {
	width: 120px;
	height: 300px;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #134699;
	font-weight: bold;

	&__wrapper {
		width: 220px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);

		&:before {
			content: "";
			position: absolute;
			left: -13px;
			width: 80%;
			height: 30px;
			border-width: 0 1px 1px 0;
			border-style: solid;
			border-color: #000;
			transform: skew(45deg);
			animation: scrollStretch 2s ease-in-out infinite alternate;
		}

		@keyframes scrollStretch {
			0% {
				width: 80%;
			}

			75%,
			100% {
				width: 100%;
			}
		}
	}
}

/* .c-scroll3
------------------------------------------------------------*/
.c-scroll3 {
	width: 120px;
	height: 300px;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
		height: 50%;
		background: #134699;
		transform: translateY(0);
		animation: scrollLine 2s cubic-bezier(0.25, 0.6, 0.5, 1.08) infinite forwards;
	}

	@keyframes scrollLine {
		0% {
			transform: translateY(0);
			opacity: 1;
		}

		50% {
			transform: translateY(200%);
			opacity: 1;
		}

		75% {
			transform: translateY(200%);
			opacity: 0;
		}

		100% {
			opacity: 0;
			transform: translateY(-200%);
		}
	}

	&__txt {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.6rem;
		writing-mode: vertical-lr;
		text-transform: uppercase;
		color: #134699;
		font-weight: bold;
		margin-left: 5px;
	}
}

/* .c-scroll4
------------------------------------------------------------*/
.c-scroll4 {
	width: 120px;
	height: 300px;
	overflow: hidden;

	&__btn {
		background: #000;
		text-align: center;
		width: 80px;
		margin: 0 auto;
		cursor: pointer;
	}

	&__txt {
		font-size: 1.6rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		position: relative;
		padding: 15px 0 30px;

		&:after {
			content: "";
			width: 20px;
			height: 20px;
			position: absolute;
			top: 28px;
			left: 50%;
			transform: translate(-50%, 0) rotate(45deg);
			border-width: 0 3px 3px 0;
			border-style: solid;
			border-color: #fff;
			z-index: 1;
			animation: arrowDown .6s ease-out infinite alternate;
		}
	}

	@keyframes arrowDown {
		0% {
			top: 28px;
		}

		100% {
			top: 38px;
		}
	}
}


/* .c-scroll5
------------------------------------------------------------*/
.c-scroll5 {
	$height: 300px;
	$height-abs: -#{$height};

	width: 120px;
	height: $height;
	overflow: hidden;
	text-align: center;
	position: relative;

	&__txt {
		font-size: 1.6rem;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		z-index: 1;
		background: #fff;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;
		height: 100%;
		display: block;
		background: linear-gradient(to bottom, white 50%, #000 50%);
		background-position: 0 $height-abs;
		background-size: 100% 200%;
		animation: lineDown 2.2s cubic-bezier(0.4, 0, 1, 1) forwards infinite;
	}

	@keyframes lineDown {
		0% {
			background-position: 0 $height-abs;
		}

		75% {
			background-position: 0 0;
		}

		100% {
			background-position: 0 $height;
		}
	}
}

