/*------------------------------------------------------------
slanted
------------------------------------------------------------*/
.p-slanted1{
	overflow: hidden;
	// ---------------------------------------
	&__img1{
		img{
			width: 100%;
			height: auto;
		}
	}
	// ---------------------------------------
	&__bg{
		position: relative;
		&:before{
			content:'';
			background: #1f5139;
			position: absolute;
			top: -95px;
			left: 0;
			width: 105%;
			height: 200%;
			margin: 3% -3% 0;
			transform: rotate(3deg);
			z-index: 2;
		}
	}
	// ---------------------------------------
	&__txt{
		width: 600px;
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}
	// ---------------------------------------
	&__ttl{
		font-size: 2rem;
		text-align: center;
		color: #fff;
	}
	// ---------------------------------------
	&__text{
		font-size: 1.4rem;
		color: #fff;
	}
}
// ---------------------------------------
.p-slanted1-2{
	.p-slanted1__bg{
		&:before{
			transform: rotate(-3deg);
		}
	}
}
// ---------------------------------------
.p-slanted1-3{
	padding-bottom: 107px;
	// ---------------------------------------
	.p-slanted1__bg{
		&:after{
			content:'';
			background: #f3d956;
			position: absolute;
			top: -95px;
			left: 0;
			width: 105%;
			height: 200%;
			margin: 3% -3% 0;
			transform: rotate(-3deg);
			z-index: 1;
		}
	}
}
// ---------------------------------------
.p-slanted2{
	background: #00FFBF;
	position: relative;
	// ---------------------------------------
	&__ttl{
		text-align: center;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 15px 0;
	}
	// ---------------------------------------
	&__main{
		font-size: 2rem;
	}
	// ---------------------------------------
	&__sub{
		font-size: 1.2rem;
		color: #000;
		text-decoration: underline;
	}
	// ---------------------------------------
	&__list{
		display: flex;
		justify-content: center;
		padding-top: 124px;
		// ---------------------------------------
		li{
			&:nth-child(2){
				transform: translateY(-62px);
			}
			// ---------------------------------------
			&:nth-child(3){
				transform: translateY(-123px);
			}
		}
	}
	// ---------------------------------------
	.c-SlanCart{
		display: block;
		width: 350px;
		padding-bottom: 30px;
		// ---------------------------------------
		&__img{
			transform: skew(0deg, -10deg);
			height: 250px;
			overflow: hidden;
			padding-top: 30px;
		}
		// ---------------------------------------
		&__cont{
			overflow: hidden;
			img{
				transform:skew(0deg, 10deg) translateY(-55px);
			}
		}
		// ---------------------------------------
		&__txt{
			font-size: 1.4rem;
			color: #000;
			transform: skew(0deg, -10deg);
			text-align: center;
			padding: 10px 0;
		}
	}
}
// ---------------------------------------
.p-slanted3{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 100px;
	margin: 0 auto;
	// ---------------------------------------
	&__left{
		position: relative;
		border: 8px solid red;
		box-sizing: border-box;
	}
	// ---------------------------------------
	&__right{
		position: relative;
		border: 8px solid red;
		box-sizing: border-box;
	}
	// ---------------------------------------
	&__txt{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// ---------------------------------------
	&__main{
		font-size: 10rem;
		color: red;
		line-height: 1;
		font-weight: normal;
	}
	// ---------------------------------------
	&__sub{
		font-size: 2rem;
		color: red;
		line-height: 1;
	}
}