/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*  c-slide1
------------------------------------------------------------*/
.c-slide1 {
	width: 1200px;
	margin: 0 auto;
}

/*  c-slide2
------------------------------------------------------------*/
.c-slide2 {
	width: 1200px;
	margin: 0 auto;

	.slick {
		&-slide {
			opacity: .7;
			transition: all .75s ease-in-out;
		}

		&-center {
			opacity: 1;
		}

		&-prev {
			left: 120px;
			z-index: 1;
		}

		&-next {
			right: 120px;
		}

		&-dots {
			li {
				button:before {
					font-size: 10px;
				}
			}
		}
	}

	&__item {
		color: #fff;
		height: 200px;

		p {
			font-size: 3rem;
			text-align: center;
			font-weight: bold;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

/*  c-slide3
------------------------------------------------------------*/
.c-slide3 {
	$root: &;
	width: 1200px;
	margin: 0 auto;

	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px;
	}

	&__1 {
		width: 650px;
		margin-right: 50px;

		.slick {
			&-next {
				right: 20px;
			}

			&-prev {
				left: 20px;
				z-index: 1;
			}
		}
	}

	&__2 {
		width: 500px;
	}

	&__3 {
		.slick {
			&-next {
				right: -10px;

				&:before {
					color: red;
				}
			}

			&-prev {
				left: -10px;
				z-index: 1;

				&:before {
					color: red;
				}
			}
        }
        #{$root}__item {
            padding: 10px;
        }
	}
}

/*  c-slide4
------------------------------------------------------------*/
.c-slide4 {
	width: 1400px;
	@include sp {
		width: 100%;
	}
	&__wrap {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 430px;
	}
	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 430px;
		transform: scale(1.1, 1.1);
		transition: opacity 1.2s ease-out, transform 7s linear;
		opacity: 0;
		z-index: 0;
		@include sp {
			padding: 75% 0 0 0;
		}
		&.is-def {
			opacity: 0;
			transform: scale(1.1, 1.1);
			transition: opacity 0s ease-out, transform 0s linear;
		}
		&.is-hide {
			opacity: 0;
			transform: scale(1, 1);
			z-index: 0
		}
		&.is-current {
			opacity: 1;
			transform: scale(1, 1);
			z-index: 1
		}
	}
	&__1 {
		background: url("/assets/img/common/view3.jpg") no-repeat top center/cover;
	}
	&__2 {
		background: url("/assets/img/common/view2.jpg") no-repeat top center/cover;
	}
	&__3 {
		background: url("/assets/img/common/view4.jpg") no-repeat top center/cover;
	}
	&__4 {
		background: url("/assets/img/common/view5.jpg") no-repeat top center/cover;
	}
	&__5 {
		background: url("/assets/img/common/view6.jpg") no-repeat top center/cover;
	}

	&__nav {
		position: absolute;
		z-index: 1000;
		height: 20px;
		right: 5%;
		bottom: 10%;
		@include sp {
			right: 50%;
			bottom: 25px;
			transform: translate(50%, 0);
		}
		li {
			position: relative;
			width: 14px;
			height: 14px;
			margin: 0 2px;
			display: inline-block;
			&:hover {
				cursor: pointer
			}
			&:after {
				opacity: 0.5;
				content: '';
				position: absolute;
				top: 3px;
				left: 3px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: #fff
			}
			&.is-current {
				&:after {
					opacity: 1;
					background: #722d80
				}
			}
		}
	}
}

