/*------------------------------------------------------------
tab
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-tab-nav1 {
	display: inline-flex;

	//--------------------------------------------------------
	&__list {
		background: #efefef;
		line-height: 1;
		padding: 5px;
		border: 1px solid #ccc;
		border-bottom: 0px;
		cursor: pointer;
		&.is-active {
			background: #fcc;
		}
	}
}

.c-tab-content1 {
	border: 1px solid #ccc;
	padding: 10px;
	min-width: 200px;

	//--------------------------------------------------------
	&__block {
		display: none;
		&.is-active {
			display: block;
		}
	}
}

/*
------------------------------------------------------------*/
.c-tab-nav2 {
	background: #efefef;
	line-height: 1;
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	&.is-active {
		background: #fcc;
	}
}

.c-tab-content2 {
	border: 1px solid #ccc;
	padding: 10px;
	min-width: 200px;
	margin: 10px 0;

	//--------------------------------------------------------
	&__block {
		display: none;
		&.is-active {
			display: block;
		}
	}
}
