/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.c-title1 {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 1.4rem;
	&:before,
	&:after {
		content: '';
		flex-grow: 1;
		height: 1px;
		background: #000;
		min-width: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	&:before {
		margin-right: 20px;
	}
	&:after {
		margin-left: 20px;
	}
}

.c-title1 + .c-title1{
	margin-top: 40px;
}